<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="log4net.Config" value="Config\log4net.config"/>
  <add key="AppID" value="150202"/>
  <add key="EncryptKey" value="demo"/>
  <add key="OrderServiceURL" value="http://localhost:41316/"/>
  <!--静态资源文件版本号-->
  <add key="StaticFileVersion" value="71"/>
</appSettings>
