<?xml version="1.0" encoding="utf-8"?>
<!-- 定义service和Endpiont行为-->
<behaviors>
  <serviceBehaviors>
    <behavior name="DefaultBehavior" >
      <!--指定服务元数据及相关信息的发布-->
      <serviceMetadata  httpsGetEnabled="true"/>
      <!--要接收故障异常详细信息进行调试，上线后请修改为False避免泄漏异常信息-->
      <serviceDebug includeExceptionDetailInFaults="true" />
      <!--指定要序列化或反序列化的最大项数-->
      <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
    </behavior>
  </serviceBehaviors>
</behaviors>