<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="TripOrderDB_SELECT" connectionString="M074cB4ekCz/kIFnIbx7PgM4K79PfGCn77Yag5dGhk7J1EcEpFTLO5bX2ryVAOvJLPPSfU4eECDvvSKjIZWS+NgkAx5JFAOamVpnCaAJYrCSQWo9MoZkjCX4QTcDy2o8ASCotkoMdDKOPALOaFACeqLp2k0WKA4s" providerName="System.Data.SqlClient"/>
  <add name="TripOrderDB_INSERT" connectionString="M074cB4ekCz/kIFnIbx7PgM4K79PfGCn77Yag5dGhk7J1EcEpFTLO5bX2ryVAOvJLPPSfU4eECDvvSKjIZWS+NgkAx5JFAOamVpnCaAJYrCSQWo9MoZkjCX4QTcDy2o8ASCotkoMdDKOPALOaFACeqLp2k0WKA4s" providerName="System.Data.SqlClient"/>
</connectionStrings>