<?xml version="1.0" encoding="utf-8"?>
<services>
  <service behaviorConfiguration="DefaultBehavior" name="Flight.Product.Service.PolicyService">
    <endpoint address=""
      binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig"
      contract="Flight.Product.Service.IPolicyService" />
    <!--<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />-->
  </service>
</services>
